@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

div.newspaper-container{
    width: 700px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 8px;
    
    
    }
h1{
    font-family:Abril Fatface ;
    font-size: 2em;
    color: black;
    text-shadow:2px 2px #b7b5b5;
}

div.date{
    text-align: left;
    padding-top: 10px;
    }

body{
    font-family: Source Sans Pro;
    border-radius: 10px;
    background-color: #eee;
    margin-left: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #777;
   
}


.list-of-languages{
    list-style: none;
    margin-right: 30px;
    border-block: solid;
    writing-mode: horizontal-tb;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    color:#c8c6c6;
    font-weight: 400;
    
}

.link-to-lang{
    display: inline;
    padding-left: 6px;
}

a {
    color:#777;
    text-decoration: none;
}

main,h2{
    color: black;
    text-align: left;
    font-family: Roboto Slab;

}

main,h5{
    color:red;
}

main,p{
    color: #777;
  
}

#Picture1{
    width: 99%;
    box-shadow: 5px 10px 18px #888888;

}

#article-picture-1{

    box-shadow: 5px 10px 18px #888888;
}

#article-picture-2{

    box-shadow: 5px 10px 18px #888888;
}
div.more-articles{
    display:flex;
    border: line;
}

hr {
    display: block;
    border-width: 1px;
}